<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodtools.crisis.app" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/cross"
        android:label="@string/app_name"
        android:logo="@drawable/crosstransparent"
        android:theme="@style/Theme.MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editwarningsigns"
            android:label="@string/title_activity_editwarningsigns"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".editcopingstrategies"
            android:label="@string/title_activity_editcopingstrategies"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".editplacesfordistraction"
            android:label="@string/title_activity_editplacesfordistraction"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".editmakingenvironmentsafe"
            android:label="@string/makingenvironmentsafe" >
        </activity>
        <activity
            android:name=".editcontacts"
            android:label="@string/title_activity_editfriendsandfamily"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".editextranote"
            android:label="@string/title_activity_editprofessionals"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".editreasontolive"
            android:label="@string/title_activity_editreasontolive"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".instructions"
            android:label="@string/title_activity_instructions" >
        </activity>
        <activity
            android:name=".FirstLaunch"
            android:label="@string/title_activity_first_launch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name=".GuideOverview"
            android:label="@string/title_activity_guide_overview" >
        </activity>
        <activity
            android:name=".GuideCoping"
            android:label="@string/title_activity_guide_coping" >
        </activity>
        <activity
            android:name=".GuideRecovering"
            android:label="@string/title_activity_guide_recovering" >
        </activity>
        <activity
            android:name=".GuideSuicidePrevention"
            android:label="@string/title_activity_guide_suicide_prevention" >
        </activity>
        <activity
            android:name=".suicideresources"
            android:label="@string/title_activity_suicideresources" >
        </activity>
        <activity
            android:name=".GuideSafetyPlan"
            android:label="@string/safetyplan" >
        </activity>
    </application>

</manifest>
